@font-face{
    font-family:"Garet", "DMSerif-Text";
    src: url(Fontes/DMSerifText-Regular.ttf),url(Fontes/Garet-Book.otf);
    
    }
    
 

    
/* Reset CSS */
* {

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
}

@font-face {
    font-family: "Garet";
    src: url("Fontes/Garet-Book.otf") format("opentype");
}

@font-face {
    font-family: "DMSerif-Text";
    src: url("Fontes/DMSerifText-Regular.ttf") format("truetype");
}



* {
    margin: 0;
    padding: 5px;
}

.container-grid {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu {
    
    display: flex;
    gap: 225px;
    
}






.menu a {
    font-size: 25px;
    font-family: "Garet";
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration-color 500ms ease;
}

.menu a:hover {
    text-decoration-color: black;
}

.conteudo-banner {
    height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

.conteudo-banner p {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-family: "Garet";
    font-size: 32px;
}


.banner {
    /* vh é a porcentagem da ALTURA da tela */
    /* vw é a porcentagem da LARGURA da tela */
    height: 100vh;

    background-repeat: no-repeat;

    position: relative;

    z-index: -1;

    background-image: url("img/Camada_1\ \(2\).jpg");

   
}

    .banner{
        text-align: center;
        font-family:"garet" ;
        color: black;
    } 




.container-grid-banner{
    margin-top: 300px;
    font-size: 100px;
}

#sobrealoe h2{
   
    margin-top: 250px;
    text-align: center;
    padding: 20px 25%;
    font-size:50px;
    font-family:"garet";
    color: black;
    text-transform: uppercase;
}

#sobrealoe p{

margin-top: 60px;
text-align: center;
font-family: "garet";
font-size: 20px;
color: black;

padding: 20px 25%;

display: flex;
justify-content: center;



}



#missaoaloe h2 {
    margin-top: 500px;
    text-align: center;
    padding: 20px 25%;
    font-size:40px;
    font-family:"garet";
    color: black;
    text-transform: uppercase;
}


#missaoaloe p{
text-align: center;
font-family: "garet";
font-size: 20px;
color: black;

padding: 20px 25%;

display: flex;
justify-content: center;
}

#visaoaloe h2{
    margin-top: 80px;
    text-align: center;
    padding: 20px 25%;
    font-size:40px;
    font-family:"garet";
    color: black;
    text-transform: uppercase;
}


#visaoaloe p{
    text-align: center;
    font-family: "garet";
    font-size: 20px;
    color: black;
    
    padding: 20px 25%;
    
    display: flex;
    justify-content: center;
}


#valoresaloe h2{
    margin-top: 80px;
    text-align: center;
    padding: 20px 25%;
    font-size:40px;
    font-family:"garet";
    color: black;
    text-transform: uppercase;
}



#valoresaloe p{
text-align: center;
font-family: "garet";
font-size: 20px;
color: black;

padding: 20px 25%;

display: flex;
justify-content: center;
}

.banner2 {
    /* vh é a porcentagem da ALTURA da tela */
    /* vw é a porcentagem da LARGURA da tela */
    height: 100vh;

    background-repeat: no-repeat;

    position: relative;

    z-index: -1;

    background-image: url("img/Free_Aromatherpay_Line_Mockup_5\ 3.jpg");

   
}

    .banner2{
        margin-top: 150px;
        text-align: center;
        font-family:"garet" ;
        color: black;
    } 



   