@font-face {
    font-family: "Garet";
    src: url("Fontes/Garet-Book.otf") format("opentype");
}

@font-face {
    font-family: "DMSerif-Text";
    src: url("Fontes/DMSerifText-Regular.ttf") format("truetype");
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-garet: "Garet", sans-serif;
    --fonte-dmserif: "DMSerif-Text", serif;
    --cor-preto: black;
    --cor-branco: white;
}

body {
    font-family: var(--fonte-garet);
}

.container-grid {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    display: flex;
    gap: 225px;
}

.menu a {
    font-size: 25px;
    font-family: var(--fonte-garet);
    color: var(--cor-preto);
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration-color 500ms ease;
}

.menu a:hover {
    text-decoration-color: var(--cor-preto);
}

.banner {
    height: 100vh;
    background-image: url("img/Camada_1 (2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    text-align: center;
    font-family: var(--fonte-garet);
    color: var(--cor-preto);
}

.banner2 {
    height: 100vh;
    margin-top: 150px;
    background-image: url("img/Free_Aromatherpay_Line_Mockup_5 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    text-align: center;
    font-family: var(--fonte-garet);
    color: var(--cor-preto);
}

.container-grid-banner {
    margin-top: 300px;
    font-size: 100px;
}

#sobrealoe, #missaoaloe, #visaoaloe, #valoresaloe {
    text-align: center;
    padding: 20px 25%;
    color: var(--cor-preto);
}

#sobrealoe h2, #missaoaloe h2, #visaoaloe h2, #valoresaloe h2 {
    margin-top: 80px;
    font-size: 40px;
    font-family: var(--fonte-garet);
    text-transform: uppercase;
}

#sobrealoe h2 {
    margin-top: 250px;
    font-size: 50px;
}

#sobrealoe p, #missaoaloe p, #visaoaloe p, #valoresaloe p {
    margin-top: 20px;
    font-family: var(--fonte-garet);
    font-size: 20px;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

footer {
    background-color: #f1f1f1;
    padding: 40px 0;
    font-family: "Garet";
    color: black;
}

footer .container-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer .menu {
    font-size: 18px;
    gap: 90px;
    flex-direction: row;
    align-items: center;
}

footer .menu a {
    color: black;
    text-decoration: none;
        text-decoration: underline transparent;
        text-decoration-thickness: 2px;
        transition: text-decoration 800ms ease;
    
}


.icone-redes {
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 2%;
}

.icone-redes img {
    width: 108px; 
    height: 108px;
    cursor: pointer;
}
