@font-face {
    font-family: "Dm Serif Text", "Garet";
    src: url(fonts/DMSerifDisplay-Regular.ttf), url(fonts/Garet-Book.ttf);
}

* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.container-grid {
    padding: 10px;
    width: 77.083vw;
    max-width: 1480px;
    box-sizing: border-box;
    margin: 0 auto;
}

header .container-grid {
    width: 100%;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -30px;
}


.menu {
    display: flex;
    gap: 225px;
}

.menu a {
    font-size: 25px;
    font-family: "Garet";
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration-color 500ms ease;
}

.menu a:hover {
    text-decoration-color: black;
}

.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form h2 {
    font-family: "Dm Serif Text";
    font-size: 45px;
}

.campo-email {
    width: 100%;
    max-width: 500px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo-email label{
    height: 38px;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: "Garet";
}

.campo-email input {
    height: 50px;
    font-family: "Garet";
    color: #000;
    border: 0.5px solid ;
    border-radius: 15px;
    font-size: 16px;
}

.campo-senha {
    width: 100%;
    max-width: 500px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo-senha label{
    height: 38px;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: "Garet";
}

.campo-senha input {
    height: 50px;
    font-family: "Garet";
    color: #000;
    border: 0.5px solid ;
    border-radius: 15px;
    font-size: 16px;
}

.form button {
    background-color: #f8f6f6;
    margin-top: 35px;
    width: 100%;
    max-width: 480px;
     height: 52px;
    font-family: "Garet";
    font-size: 20px;
    text-align: center;
    color: #000;
    border: 0.5px solid ;
    border-radius: 100px;
}

.form button:hover {
    background-color: #14181A;
    transition: 600ms;
    color: white;
    cursor: pointer;
}

.pergunta p {
    margin-top: -15px;
    font-family: "Garet";
    font-size: 15px;
}

.criar-conta p {
    color: #000087;
    margin-top: -40px;
font-family: "Garet";
font-size: 15px;
}

.criar-conta p:hover{
    color: #4F37FF;
    cursor: pointer;
    transition: 600ms;
}

#logo-aloe img{
    width: 150px;
display: flex;
align-items: center;
margin: auto;
margin-top: 40px;
}


.menu-footer {
    font-size: 25px;
    font-family: "Garet";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}


.icone-redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4%;
}

.menu-footer a {
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration 500ms ease;
}

.menu-footer a:hover {
    text-decoration: underline black;
}