@font-face{
    font-family:"Garet", "DMSerif-Text";
    src: url(Fontes/DMSerifText-Regular.ttf),url(Fontes/Garet-Book.otf);
    
    }
    
    
    
    
    .container-grid {
        width: 120%;
        max-width: 1200px;
        
    }
    * {
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }
    
    
    
    .container-grid {
        width: 120%;
        max-width: 1500px;
        
    }

    
    
    .menu {
        width: 100%;;
        display: flex;
        align-items: flex-end;
        justify-content:space-between;  
        margin-bottom: 100px;
    }

    .icone-redes{
        width: 700px;
        display: flex;
        align-items: center;
        margin-left: 100px;
        size: 10px;
           
        white-space: nowrap; 
    }



    .menu{
        font-size: 25px;
        font-family: "Garet";
        width: 800px;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        left: 230px;
        white-space: nowrap;
        

    }   

    



    
    
    .menu a{

        color: black;
        text-decoration: Underline transparent;
        text-decoration-thickness: 1px;
        transition: text-decoration 500ms ease;
    
    
    }



    
    
