@font-face {
    font-family: "Garet";
    src: url("Fontes/Garet-Book.otf") format("opentype");
}

@font-face {
    font-family: "DMSerifText";
    src: url("Fontes/DMSerifText-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.container-grid {
    width: 100%;
    max-width: 1500px;
}

.menu {
    font-size: 25px;
    font-family: "Garet";
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 100px;
}

.icone-redes {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-evenly;
    margin-top: 8%;
}

.menu a {
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration: underline black;
}

    
    
