
.container-grid {
    padding: 10px;
    width: 77.083vw;
    max-width: 1480px;
    box-sizing: border-box;
    margin: 0 auto;
}

header .container-grid {
    width: 100%;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


.menu {

    display: flex;
    gap: 225px;

}

.menu a {
    font-size: 25px;
    font-family: "Garet";
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration-color 500ms ease;
}

.menu a:hover {
    text-decoration-color: black;
}

.form {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
    justify-content: space-between;
    
}

.form h2 {
    font-family: "Dm Serif Text";
    font-size: 45px;
}

.campo-email {
    width: 100%;
    max-width: 450px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo-email label{
    font-size: 16px;
    margin-bottom: 0px;
    font-family: "Garet";
}

.campo-email input {
    height: 50px;
    font-family: "Garet";
    color: #000;
    border: 0.5px solid ;
    border-radius: 15px;
    text-indent: 10px;
    font-size: 16px;
}

.campo-nome {
    width: 100%;
    max-width: 450px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo-nome label{
    font-size: 16px;
    margin-bottom: 0px;
    font-family: "Garet";
}

.campo-nome input {
    height: 50px;
    font-family: "Garet";
    color: #000;
    border: 0.5px solid ;
    border-radius: 15px;
    text-indent: 10px;
    font-size: 16px;
}

.campo-descricao {
    width: 100%;
    max-width: 450px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo-descricao label {
    font-size: 16px;
    margin-bottom: 5px; 
    font-family: "Garet";
}

.campo-descricao textarea {
    height: 100px;
    font-family: "Garet";
    color: #000;
    border: 0.5px solid;
    border-radius: 15px;
    padding: 10px;
    resize: none; 
    box-sizing: border-box; 
    font-size: 16px;
    line-height: 1.5;
}

.campo-ajudar {
    width: 100%;
    max-width: 450px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo-ajudar label {
    font-size: 16px;
    margin-bottom: 5px; 
    font-family: "Garet";
}

.campo-ajudar select {
    height: 50px;
    font-family: "Garet";
    color: #000;
    border: 0.5px solid;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box; 
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    appearance: none; 


}

.form button {
    background-color: #f8f6f6;
    margin-top: 35px;
    width: 100%;
    max-width: 450px;
     height: 52px;
    font-family: "Garet";
    font-size: 20px;
    text-align: center;
    color: #000;
    border: 0.5px solid ;
    border-radius: 100px;
}

.form button:hover {
    background-color: #14181A;
    transition: 600ms;
    color: white;
    cursor: pointer;
}


#logo-aloe img{
    width: 150px;
display: flex;
align-items: center;
margin: auto;
margin-top: 120px;
}


.menu-footer {
    font-size: 25px;
    font-family: "Garet";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}


.icone-redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4%;
}

.menu-footer a {
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration 500ms ease;
}

.menu-footer a:hover {
    text-decoration: underline black;
}