@font-face {
    font-family: "Garet";
    src: url("Fontes/Garet-Book.otf") format("opentype");
}

@font-face {
    font-family: "DMSerif-Text";
    src: url("Fontes/DMSerifText-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 10px;
}

.container-grid {
    width: 100%;
    max-width: 1500px;
}

.logo {
    width: 700px;
    display: flex;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}

.img {
    width: auto;
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
}



.formulario, .produtos, .sobre {
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
}

.menu a {
    font-size: 25px;
    font-family: "Garet";
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration-color 500ms ease;
}

.menu a:hover {
    text-decoration-color: black;
}

.conteudo-banner {
    height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

.conteudo-banner p {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-family: "Garet";
    font-size: 32px;
}