@font-face {
    font-family: "Garet";
    src: url("Fontes/Garet-Book.otf") format("opentype");
}

@font-face {
    font-family: "DMSerif-Text";
    src: url("Fontes/DMSerifText-Regular.ttf") format("truetype");
}



* {
    margin: 0;
    padding: 5px;
}

.container-grid {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu {
    
    display: flex;
    gap: 225px;
    
}

.menu a {
    font-size: 25px;
    font-family: "Garet";
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration-color 500ms ease;
}

.menu a:hover {
    text-decoration-color: black;
}

